.navbar{
    background-color: #1a1a1a !important;
    max-height: 100px !important;
    position: fixed !important;
    top: 0 !important;
    width: 100vw !important;
    padding: 15px 50px !important;
    border-bottom: 2px solid limegreen;
    box-shadow: 0 4px 20px -2px rgb(11, 116, 11);
}

.navbar-brand, .nav-link{
    color: aliceblue !important;
}

.nav-link{
    margin: 0 !important;
    margin-right: 10px !important;
    padding: 0 !important;
    border-right: 5px solid black !important;
    padding-right: 20px !important;
}

.navbar-brand{
    border-right: 2px solid limegreen !important;
    padding-right: 20px !important;
}

.navbar-brand:hover, .nav-link:hover{
    color: limegreen !important;
}

#authorization{
    display: flex !important;
    justify-content: flex-start !important;
    flex-direction: column-reverse !important;
    border-left: 2px solid limegreen !important;
    padding-left: 20px !important;
}

#authorization .nav-link{
    border-right: none !important;
    padding-right: none !important;
}